<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DKSMapView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61AE37AF1E8CB388003E1ACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61AE37C21E8CB388003E1ACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61AE37CD1E8CB388003E1ACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
